*{
    margin: 0;
    padding: 0;
    font-family: sans-serif, 'poppins';
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #5a5a5a;
}

img{
    cursor: pointer;
}

.flex-div{
    display: flex;
    align-items: center;
}

nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}

.nav-right img{
    width: 25px;
    margin-right: 25px;
}

.nav-right .user-icon{
    width: 35px;
    border-radius: 50%;
    margin-right: 0;
}

.nav-left .menu-icon{
    width: 30px;
    margin-right: 25px;
}

.nav-left .logo{
    width: 100px;
    margin-right: 25px;
}

.nav-center .mic-icon{
    width: 25px;
}

.nav-center .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}

.nav-center .search-box input{
    width: 450px;
    border: 0;
    outline: 0;
    background: transparent;
}

.nav-center .search-box img{
    width: 20px;
}

.play-container{
    padding-left: 2%;
    margin-left: 100px;
    width: 1280px;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.player-video{
    flex-basis: 69%;
    width: 1280px;
}

.player-video .description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

.description img{
    width: 50px;
    border-radius: 50%;
    margin-right: 0;
}

.description .subs{
    color: #5a5a5a;
}

.description .subs-name{
    margin-left: -100px;
}

.description .likes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid rgb(220, 218, 218);
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(220, 218, 218);
    color: #5a5a5a;
}

.description .subs-botton{
    border: 1px solid #000;
    padding: 8px;
    background-color: #000;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

.description .likes img{
    width: 30px;
}

.description .share{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid rgb(220, 218, 218);
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(220, 218, 218);
}

.share img{
    width: 30px;
}

.information{
    border: 1px solid rgb(220, 218, 218);
    background-color: rgb(220, 218, 218);
    border-radius: 10px;
    padding: 10px;
}

.information .more{
    color: #5a5a5a;
}

.num-com{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.player-video .com-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.com-box .prof-icon{
    width: 40px;
    border-radius: 50%;
    margin-right: 0;
}

.com-box .add-com{
    width: 800px;
    border-top: #000;
    border-left: #000;
    border-right: #000;
    margin-top: 40px;
    margin-bottom: 40px;
}



.static-com .prof-img img{
    width: 40px;
    border-radius: 50%;
    margin-right: 0;
}

.static-com{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
}

.static-com .pin{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
}

.static-com .artist-time{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
}

.static-text .artist-time .art-art{
    border: 1px solid #000;
    padding: 2px;
    background-color: #000;
    color: white;
    border-radius: 25px;
}

.static-text .artist-time .time-art{
    margin-top: 3px;
    margin-left: 3px;
}

.static-com .text-in{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
}

.static-com .url{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    text-decoration: underline;
    margin-bottom: 5px;
}

.static-com .likes-coment{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
}

.static-com .answears{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    text-decoration: blue;
    color: blue;
    cursor: pointer;
    margin-bottom: 5px;
}

.com1 .prof-img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0;
    margin-top: 5px;
}

.com1{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
}

.com1 .user .user-info{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.user .user-info .time-user{
    margin-left: 5px;
}

.user .text-incom{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
}

.com1 .likes-coment-user{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
}

.com1 .answears-user{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    text-decoration: blue;
    color: blue;
    cursor: pointer;
    margin-bottom: 5px;
}

.com2 .prof-img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0;
    margin-top: 5px;
}

.com2{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
}

.com2 .user2 .user-info2{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.user2 .user-info2 .time-user2{
    margin-left: 5px;
}

.user2 .text-incom2{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
}

.com2 .likes-coment-user2{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
}

.com2 .answears-user2{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    text-decoration: blue;
    color: blue;
    cursor: pointer;
    margin-bottom: 5px;
}

.com3 .prof-img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0;
    margin-top: 5px;
}

.com3{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
}

.com3 .user3 .user-info3{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.user3 .user-info3 .time-user3{
    margin-left: 5px;
}

.user3 .text-incom3{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
}

.com3 .likes-coment-user3{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
}

.com3 .answears-user3{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    text-decoration: blue;
    color: blue;
    cursor: pointer;
    margin-bottom: 5px;
}

.com4 .prof-img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0;
    margin-top: 5px;
}

.com4{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
}

.com4 .user4 .user-info4{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.user4 .user-info4 .time-user4{
    margin-left: 5px;
}

.user4 .text-incom4{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
}

.com4 .likes-coment-user4{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
}

.com4 .answears-user4{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    text-decoration: blue;
    color: blue;
    cursor: pointer;
    margin-bottom: 5px;
}

.com5 .prof-img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0;
    margin-top: 5px;
}

.com5{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
}

.com5 .user5 .user-info5{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.user5 .user-info5 .time-user5{
    margin-left: 5px;
}

.user5 .text-incom5{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
}

.com5 .likes-coment-user5{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
}

.com5 .answears-user5{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    text-decoration: blue;
    color: blue;
    cursor: pointer;
    margin-bottom: 5px;
}

.com6 .prof-img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0;
    margin-top: 5px;
}

.com6{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
}

.com6 .user6 .user-info6{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.user6 .user-info6 .time-user6{
    margin-left: 5px;
}

.user6 .text-incom6{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
}

.com6 .likes-coment-user6{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
}

.com6 .answears-user6{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    text-decoration: blue;
    color: blue;
    cursor: pointer;
    margin-bottom: 5px;
}

.com7 .prof-img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0;
    margin-top: 5px;
}

.com7{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
}

.com7 .user7 .user-info7{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.user7 .user-info7 .time-user7{
    margin-left: 5px;
}

.user7 .text-incom7{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
}

.com7 .likes-coment-user7{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
}

.com7 .answears-user7{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    text-decoration: blue;
    color: blue;
    cursor: pointer;
    margin-bottom: 5px;
}

.com8 .prof-img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0;
    margin-top: 5px;
}

.com8{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
}

.com8 .user8 .user-info8{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.user8 .user-info8 .time-user8{
    margin-left: 5px;
}

.user8 .text-incom8{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
}

.com8 .likes-coment-user8{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 5px;
}

.com8 .answears-user8{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
    text-decoration: blue;
    color: blue;
    cursor: pointer;
    margin-bottom: 5px;
}

.right-sidebar{
    padding-right: 2%;
}

.mix-player{
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 530px;
    margin-left: 20px;
    border: 1px solid rgb(176, 174, 174);
    margin-right: -200px;
    border-radius: 20px;
    padding: 20px;
    height: 480px;
    overflow: scroll;
}

.mix-player::-webkit-scrollbar{
    width: 7px;
}

.mix-player .thumbnail{
    width: 180px;
    margin-right: 0;
    margin-top: 5px;
    border-radius: 10px;
}

.mix-player .a-thumbnail{
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.mix-player .text-thumbnail{
    margin-left: 20px;
    margin-top: 10px;
}

.mix-player .ti-thumbnail{
    margin-bottom: 30px;
}

.mix-player .thumbnail2{
    width: 180px;
    margin-right: 0;
    margin-top: 5px;
    border-radius: 10px;
}

.mix-player .a-thumbnail2{
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.mix-player .text-thumbnail2{
    margin-left: 20px;
    margin-top: 10px;
}

.mix-player .ti-thumbnail2{
    margin-bottom: 30px;
}

.mix-player .thumbnail3{
    width: 180px;
    margin-right: 0;
    margin-top: 5px;
    border-radius: 10px;
}

.mix-player .a-thumbnail3{
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.mix-player .text-thumbnail3{
    margin-left: 20px;
    margin-top: 10px;
}

.mix-player .ti-thumbnail3{
    margin-bottom: 30px;
}

.mix-player .thumbnail4{
    width: 180px;
    margin-right: 0;
    margin-top: 5px;
    border-radius: 10px;
}

.mix-player .a-thumbnail4{
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.mix-player .text-thumbnail4{
    margin-left: 20px;
    margin-top: 10px;
}

.mix-player .ti-thumbnail4{
    margin-bottom: 30px;
}

.mix-player .thumbnail5{
    width: 180px;
    margin-right: 0;
    margin-top: 5px;
    border-radius: 10px;
}

.mix-player .a-thumbnail5{
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.mix-player .text-thumbnail5{
    margin-left: 20px;
    margin-top: 10px;
}

.mix-player .ti-thumbnail5{
    margin-bottom: 30px;
}

.add img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 530px;
    margin-left: 20px;
    margin-right: -190px;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid rgb(176, 174, 174);
    border-radius: 20px;
    margin-top: 30px;
}

.related{
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 20px;
    width: 530px;
    margin-right: -250px;
}

.related .all{
    border: 1px solid black;
    background: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 50px;
    cursor: pointer;
}

.related .rock{
    border: 1px solid rgb(176, 174, 174);
    background: rgb(176, 174, 174);
    border-radius: 5px;
    padding: 10px;
    width: 130px;
    cursor: pointer;
}

.related .rel{
    border: 1px solid rgb(176, 174, 174);
    background: rgb(176, 174, 174);
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
}

.related .artist{
    border: 1px solid rgb(176, 174, 174);
    background: rgb(176, 174, 174);
    border-radius: 5px;
    padding: 10px;
    width: 80px;
    cursor: pointer;
}